.PeliculasPopulares{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.article{
    display: flex;
    flex-direction: column;
    color: white;
}

.Fotos{
    color: white;
    width:40vh;
    text-align: center;
    
}
