.article{
    flex-direction: column;
    color: white;
}

.Fotos{
    color: white;
    width:40vh;
    text-align: center;
}

.botonPelisSeries{
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.697);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.link{
    color: aliceblue;
    text-decoration: none;
}