.containHeader{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(100, 100, 100);
}

.logo{
    height: 20vh;
    width: 10vw;
    padding: 10px;
}

.titulo-href{
    font-size: 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

