.containHeader{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(100, 100, 100);
}

.logo{
    height: 20vh;
    width: 10vw;
    padding: 10px;
}

.titulo-href{
    font-size: 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.cuadro_buscar{
    border: 2px solid white;
    border-radius: 20px;
    background-color: black;
    padding: 3px;
    color: white ;
}

.buscarbotton{
    border-radius: 10px;
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
}
