.futer{ 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(102, 102, 102);
    padding: 20px;
}
body{
    background-color: black;
}
